/* Louisville Font Face Declarations */
@font-face {
  font-family: 'Louisville';
  src: url('./Louisville.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Louisville';
  src: url('./LouisvilleBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
